.features {
  padding-top: 80px;
}

.features .features__caption {
  text-align: center;
  color: #ec154b;
  font-size: 40px;
  font-weight: 700;
}

.features .features__text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

.features .features-block {
  width: 100%;
  text-align: center;
}

.features .features-block .features__icon {
  height: 100px;
}

.features .features-block .features__title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 18px;
}

.features .features-block .features__disc {
  margin-top: 20px;
  text-align: center;
}

.features .button__block {
  text-align: center;
  padding-top: 100px;
}

.features .button__block .button__more {
  border: 1px solid #e9174c;
  font-size: 23px;
  padding: 7px 20px;
  background: #fff;
}
