body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.without__padding {
  padding: 0px;
}

.row__width-100 {
  width: 100%;
  margin: 0px auto;
}

.row__margin-left {
  margin-left: 0px;
  margin-right: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 12px;
  height: 12px;
  border-radius: 20%;
  background: #fff;
  border: 1px solid #000;
}

.container__fluids-margin {
  padding-left: 0px;
  padding-right: 0px;
}

.li__change-bg:hover {
  background: #ec154b;
  color: #fff;
}

.header__logo-link {
  width: 100%;
  height: 100%;
  display: block;
}

.video__text {
  font-size: 20px;
  font-weight: 900;
  margin-top: 60px;
}

.video__text-disc {
  font-weight: 700;
  color: #000;
  margin-top: 15px;
}

.social-icon-img:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.header {
  padding-bottom: 10px;
}

.header .header__logo-block {
  margin-top: 15px;
}

.header .header__nav {
  height: 100%;
}

.header .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
}

.header .header__nav .header__nav-list .nav__item {
  font-size: 20px;
  font-weight: 700;
  height: 100%;
  vertical-align: middle;
}

.header .header__nav .header__nav-list .nav__item .nav__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
}

.header .header__nav .header__nav-list .nav__item:last-child {
  margin-right: 0px;
}

.header .header__adver {
  height: 100%;
}

.header .header__adver .header__adver-link {
  line-height: 124px;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 5px;
  border-bottom: 8px solid #00d17e;
  color: #00d17e;
}

.header #burger-checkbox {
  display: none;
}

.header .label {
  display: none;
}

.video .video__bg {
  background: #000 url(../img/bg.png) center/cover;
  height: 530px;
  max-height: 530px;
}

.video .video__disc {
  background: #c21d38;
  color: white;
  margin-top: 15px;
}

.video .video__disc .video__disc-caption {
  font-size: 30px;
  border-left: 15px solid #fff;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.video .video__text {
  font-size: 20px;
  font-weight: 900;
  margin-top: 60px;
}

.video .video__text-disc {
  font-weight: 700;
  color: #000;
  margin-top: 15px;
}

.video__text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: #000;
  margin-top: 5px;
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
}

.goods {
  padding-top: 50px;
}

.goods .goods__block {
  position: relative;
  width: 100%;
}

.goods .goods__block .goods__img {
  max-width: 100%;
  max-height: 100%;
}

.goods .goods__opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  font-weight: 900;
}

.goods .goods__opacity:hover {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.disc {
  padding-top: 80px;
}

.disc .disc__text {
  background: #000;
  padding-left: 30px;
  font-size: 55px;
  font-weight: 700;
  color: #fff;
}

.disc .disc__text-top {
  color: #ec154b;
  font-weight: 500;
  font-size: 30px;
}

.disc .disc__text-bottom {
  font-weight: 700;
}

.world {
  padding-top: 80px;
}

.world .world_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 85%;
  padding: 25px 0 25px 50px;
  background: #000 url(../img/section-4/bg.png) left/cover;
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.features {
  padding-top: 80px;
}

.features .features__caption {
  text-align: center;
  color: #ec154b;
  font-size: 40px;
  font-weight: 700;
}

.features .features__text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

.features .features-block {
  width: 100%;
  text-align: center;
}

.features .features-block .features__icon {
  height: 100px;
}

.features .features-block .features__title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 18px;
}

.features .features-block .features__disc {
  margin-top: 20px;
  text-align: center;
}

.features .button__block {
  text-align: center;
  padding-top: 100px;
}

.features .button__block .button__more {
  border: 1px solid #e9174c;
  font-size: 23px;
  padding: 7px 20px;
  background: #fff;
  cursor: pointer;
}

.features .button__block .button__more:hover {
  background: #fc0202;
  color: #fff;
}

.work {
  padding-top: 80px;
  padding-bottom: 80px;
}

.work .work__block {
  text-align: center;
}

.work .work__block .work__caption {
  font-size: 50px;
  font-weight: 700;
  width: 800px;
  margin: 0px auto;
  background: #000;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
}

.work .work__block .button__say {
  margin-top: 50px;
  padding: 7px 45px;
  border: 1px solid #000;
  background: #fff;
  font-size: 23px;
  cursor: pointer;
}

.work .work__block .button__say:hover {
  background: #000;
  color: #fff;
}

.feedback {
  background: #030303;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.feedback .feedback__container {
  margin: 0 15px;
}

.feedback .feedback__block {
  text-align: center;
  font-size: 38px;
}

.feedback .feedback__block-2 {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.feedback .feedback__human {
  text-align: center;
  padding: 0px 60px;
  padding-bottom: 40px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.feedback .feedback__human .feedback__face {
  height: 150px;
}

.feedback .feedback__human .feedback__disc {
  text-align: center;
  margin-top: 35px;
  font-size: 12px;
  font-weight: 100;
}

.feedback .feedback__human:hover {
  border-bottom: 2px solid #fff;
}

.feedback .feedback__find {
  padding-top: 80px;
  text-align: center;
}

.feedback .feedback__find .feedback__find-us {
  font-size: 25px;
  letter-spacing: 1px;
}

.feedback .feedback__social {
  text-align: center;
  margin-top: 50px;
}

.feedback .feedback__social .feedback__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 143px;
  margin: 0px auto;
  text-align: center;
}

.feedback .feedback__social .social-icon {
  margin-right: 20px;
}

.feedback .feedback__social .social-icon:last-child {
  margin-right: 0px;
}

.feedback .feedback__social .social-link {
  display: block;
  height: 100%;
  width: 100%;
}

.footer {
  padding: 20px 0px;
  background: #c51d3a;
}

.footer .footer__address {
  font-size: 12px;
  color: #fff;
}

.background {
  height: 530px;
  background: url(../img/about/bg.png) center/cover;
}

.background .background__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.background .background__text {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-weight: 700;
  color: #fff;
}

.focus {
  padding-top: 30px;
}

.focus .focus__caption {
  text-align: left;
  color: #ec154b;
  font-size: 40px;
  font-weight: 700;
}

.focus .focus__caption-text {
  text-align: left;
  font-size: 18px;
  margin-bottom: 50px;
}

.focus .focus__block-big-icon {
  padding: 20px 10px;
}

.focus .focus__block-big-icon .big__icon {
  display: block;
  height: 100%;
}

.focus .focus__text {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}

.focus .focus__icon-block {
  text-align: center;
}

.focus .focus__icon-block .focus__icon {
  height: 100px;
  max-width: 100px;
}

.focus .focus__icon-block .focus__icon-dic {
  margin-top: 30px;
  font-size: 0.7rem;
}

.focus .focus__icon-block .focus__icon-title {
  font-weight: 700;
  font-size: 1.002rem;
}

.focus .focus__margin-top {
  margin-top: 100px;
}

.footer_2-social-link {
  display: inline-block;
  margin-right: 10px;
}

.story-caption {
  height: 530px;
  background: #f1f1ee url(../img/about-story/bg.png) center/cover;
}

.story-caption .story__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.story-caption .story__caption {
  text-transform: uppercase;
  padding-bottom: 100px;
  font-size: 2.5rem;
}

.story-caption .story__caption:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 40px;
  background: #f10000;
  margin-top: 5px;
  -webkit-transform: translateX(-115%);
  transform: translateX(-115%);
}

.story {
  padding-top: 30px;
}

.story .story__disc {
  font-size: 2rem;
  margin-bottom: 50px;
}

.story .story__disc mark {
  color: #ec154b;
  background: none;
  font-weight: 700;
}

.story .story__disc:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 175px;
  background: #000;
  margin-top: 10px;
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
}

.story .story__about-caption {
  font-size: 1.2rem;
  font-weight: 900;
}

.story .story__about {
  font-weight: 600;
}

.story .about__bg-people {
  margin-top: 50px;
  margin-bottom: 100px;
  background: #5f5f5f url(../img/about-story/story.png) center/cover;
  height: 249px;
  width: 85%;
}

.story .about__bg-people:after {
  content: 'Our Story.';
  display: block;
  -webkit-transform: translateY(210px);
  transform: translateY(210px);
  padding-top: 10px;
  padding-left: 15px;
  font-weight: 700;
  background: #000;
  font-size: 3.2rem;
  width: 40%;
  height: 100px;
  color: #fff;
}

.story .story__about-margin {
  margin-bottom: 150px;
}

.porfolio__bg {
  height: 530px;
  background: #f6f6ea url(../img/portfolio/portfolio.png) center/cover;
}

.portfolio__disc {
  padding-top: 30px;
}

.portfolio__disc .portfolio__caption {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.portfolio__disc .portfolio__text {
  font-size: 0.9rem;
  font-weight: 700;
}

.portfolio__disc .portfolio__text-black {
  margin-top: 30px;
  font-size: 2rem;
  background: #000;
  color: #fff;
  width: 40%;
  font-weight: 700;
  padding: 5px 10px;
}

.portfolio__disc .portfolio__text-red {
  margin-top: 40px;
  font-weight: 700;
}

.portfolio__disc .portfolio__text-red .text__red {
  font-size: 1.2rem;
  display: block;
  background: none;
  color: #ec154b;
  font-weight: 900;
  padding: 0px;
  padding-bottom: 5px;
}

.portfolio__disc .portfolio__caption:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 60px;
  background: #000;
  margin-top: 15px;
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
}

.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects .projects__caption {
  font-size: 1.9rem;
  background: #c51d3a;
  width: 30%;
  color: #ffffff;
  padding: 10px 0px;
  padding-left: 18px;
  margin-bottom: 40px;
}

.projects .projects__block {
  position: relative;
  width: 100%;
}

.projects .projects__block .projects__img {
  max-width: 100%;
  max-height: 100%;
}

.projects .projects__disc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  opacity: 0;
}

.projects .projects__disc:hover {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.portfolio__slider {
  padding-top: 50px;
}

.portfolio__slider .slider__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery .galery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery .galery__img-block {
  position: relative;
}

.galery .galery__img-block .galery__img {
  max-width: 100%;
  max-height: 100%;
}

.galery .galery__disc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  opacity: 0;
}

.galery .galery__disc:hover {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
