body
    font-family: Helvetica, Arial, sans-serif

ul
    margin: 0px
    padding: 0px
    list-style: none

a
    color: #000000
    
a:hover
    text-decoration: none
    color: #000

.without__padding
    padding: 0px