body
    font-family: Helvetica, Arial, sans-serif

ul
    margin: 0px
    padding: 0px
    list-style: none

a
    color: #000000
    
a:hover
    text-decoration: none
    color: #000

.without__padding
    padding: 0px

.row__width-100
    width: 100%
    margin: 0px auto

.row__margin-left
    margin-left: 0px
    margin-right: 0px
