.background {
  height: 530px;
  background: url(../img/about/bg.png) center/cover;
}

.background .background__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.background .background__text {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-weight: 700;
  color: #fff;
}
