@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900;&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.ttf")  format("truetype"),
  url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Black.woff") format("woff"),
  url("../fonts/Roboto-Black.ttf")  format("truetype"),
  url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
}

body {
  font-family: "Roboto", sans-serif;
}
