html {
  box-sizing: border-box;

  &.active {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}
