@import url("../style.css");

@media screen and (max-width: 991px){
    .produce{
        text-align: center;
    }

    .produce__boxes {
        display: none;
    }

    .order__call {
        display: block;
    }
    
    .header-link {
        display: block;
    }
    
    .header-link img {
        display: block;
        margin: 0px auto 10px auto;
    }

    .contacts {
        display: block !important;
        text-align: center;
    }

    .header .contacts .contacts__number{
        padding: 0px !important; 
        border: 0px !important;
        margin-bottom: 10px;
    }

    .header .contacts .contacts__order-call{
        margin-left: 0px;
    }

}

@media screen and (max-width: 576px){

    .produce__form .form-tel {
        width: 100%;
        margin-bottom: 10px;
    }
    .produce__form .form button {
        width: 100%;
    }
    .produce__form .produce__form-minorder {
        margin: 0px;
    }
    .boxes__buttons .boxes__buttons-bt1 {
        width: 100%;
        margin-bottom: 10px;
    }
    .boxes__buttons a {
        width: 100%;
    }
    .offer form input {
        margin: 0px 0px 10px 0px;
        min-width: 0px;
        width: 100%;
    }

    .offer form .button {
        width: 100%;
    }

    .feedback__block{
        display: none;
    }

    .feedback{
        display: none !important;
        visibility: hidden; 
    }

    iframe{
        display: none;
    }

    .map .address__block {
        position: relative;
        top: 0px;
        left: 0px;
        padding: 0px 26%;
    }

    .map .address__block .address__order-call{
        margin: 0px 0px 10px 0px;
    }

    .address__order-call .button {
        display: block;
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 400px){
    .map .address__block{
        padding: 10px;
    }

}