@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl100.otf);
        font-weight: 100;
        font-style: normal;
}
  @font-face{
      font-family: 'Museo Sans Cyrl';
      src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl100Italic.otf);
            font-weight: 100;
            font-style: italic;
}
  @font-face{
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl300.otf);
          font-weight: 300;
          font-style: normal;
}
@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl300Italic.otf);
          font-weight: 300;
          font-style: italic;
}
@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl900.otf);
          font-weight: 900;
          font-style: normal;
}
@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl900Italic.otf);
          font-weight: 900;
          font-style: italic;
}
  @font-face {
      font-family: "Natasha";
      src: url(../fonts/MuseoSansCyrl/Natasha.ttf);
  }