@media screen and (max-width: 960px){
    /* --"section-1"-- */
    .container {
        width: 100%;
    }
    .header-top {
        width: 100%;
    }
    .header-navigation{
        margin-right: 0px;
    }
    .container-logo {
        margin-right: 12%;
    }
    .background {
        width: 40%;
    }
    .background-text {
        width: auto;
    }
    .skills-list{
        width: 100%;
    }
    .skills-item{
        margin-right: 2%;
    }
    .skills-item-text{
        margin-right: 10%;
    }
    .skills-item-text:last-child {
        float: left;
    }
    .works-item{
        width: 31%;
    }
}
@media screen and (max-width: 768px){
    /* --"section-2"-- */
    .header-top {
        text-align: center;
    }
    .container-logo {
        float: none;
        margin-right: 0px;
    }
    .header-navigation {
        float: none;
        margin-right: 0px;
    }
    .navigaiton-list {
        margin: 50px auto;
    }
    .navigation-item {
        margin-right: 45px;
    }
    .header-contact {
        float: none;
        margin-top: 50px;
    }
    .header-bottom-block {
        margin-top: 25%;
    }
    .header-bottom {
        margin: 0px auto;
    }
    .about-me-caption{
        text-align: center;
    }
    .background {
        width: 100%;
        margin-bottom: 50px;
        float: none;
    }
    .merit-caption {
        text-align: center;
    }
    .merit-and-contact {
        float: none;
        width: 100%;
    }
    .merit-caption{
        text-align: center;
    }
    .merit-list{
        margin: 0px auto;
    }
    .contact-block{
        margin: 0px auto;
    }
    .skills-caption{
        text-align: center;
    }
    .skills-list {
        width: auto;
        margin: 0px auto;
    }
    .skills-item{
        float: none;
    }
    .skills-item-text{
        float: none;
        margin-bottom: 25px;
    }
    .skills-item-text:last-child{
        margin-bottom: 0px;
    }
    .works-caption{
        text-align: center;
    }
    .works-list{
        width: 100%;
    }
    .works-item{
        float: none;
        margin: 0px auto;
        margin-bottom: 20px;
        width: 50%;
    }
    .works-item:last-child{
        margin: 0px auto;
        width: 50%;
    }
    .footer-text{
        text-align: center;
    }
}