.produce::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: 0.5;
}

.produce {
  background: url(../img/produce-bg.jpg) center;
  background-size: cover;
  position: relative;
  padding: 65px;
  padding-top: 140px;
}

.produce .produce__boxes img {
  margin-left: -20%;
  z-index: 5;
}

.produce__description {
  color: white;
  padding: 0px 50px;
}

.produce__description-caption {
  font-size: 41px;
  font-weight: bold;
}

.produce__description-delivery {
  font-size: 21px;
}

.produce__form {
  position: relative;
  padding: 34px 28px;
  color: white;
  margin-top: 18px;
  border-radius: 4px;
  background-color: rgba(93, 93, 93, 0.4);
}

.produce__form-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

.produce__form-text strong {
  font-weight: bold;
}

.produce__form .form {
  margin-bottom: 13px;
}

.produce__form .form-tel {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  width: 311px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
}

.produce__form .form button {
  border: none;
  font-size: 15px;
  padding: 18px 16px;
  vertical-align: middle;
}

.produce__form .produce__form-minorder {
  font-size: 14px;
  font-weight: 300;
  margin-left: 13px;
}
